* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #086363;
  background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}

a {
  color: inherit;
  text-decoration: none;
}

.handContainer {
  display: flex;
  justify-content: center;
  min-height: 33%;

}

.middleBoard {
  display: flex;
  margin: 20px auto;
  max-width: 50%;
  justify-content: space-evenly;
  min-height: 33%;

}

.card-played-enter {
  transform: translate(0, -100%);
}

.card-played-enter-active {
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
}

.card {
  display: block;
  transition: 0.5s;
  width: 180px;
  height: 250px;
  z-index: 1000;
}

.topCard {
  position: relative;
  margin: 1rem 0;
}

.topCard img {
  object-fit: contain;
  width: 180px;
  height: 250px;
}


.card:not(:first-child) {
  margin-left: calc(8rem*-1);
}

.card:hover,
.card:focus-within {
  transform: translatey(-5rem);
  ;
}

.card:hover~.card,
.card:focus-within~.card {
  transform: translatex(4rem);
}

button {
  padding: 30px;
  background-size: contain;


}

button.spades {
  background-image: url("../assets/spades.png");
}

button.hearts {
  background-image: url("../assets/hearts.png");
}

button.diamonds {
  background-image: url("../assets/diamonds.png");
}

button.clubs {
  background-image: url("../assets/clubs.png");
}

.gameBoard {
  margin-top: -60px;
  grid-area: board;


}

.game-info {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 2rem;
  justify-content: space-between;
}

.suit-icon {
  width: 50px;
  height: auto;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "board"
  ;
  grid-template-rows: 5vh 95vh;


}

header {
  grid-area: header;
  padding: 30px;
  background-color: #794e3b;
  background-image: url("../assets/wood.png");
  box-shadow: 5px 5px 50px black;
}

.suit-changer {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: 128px;

}

/* .card:hover {
  transform: translateY(-40px);

} */